<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Executable file</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>Privacy - Photo Library Usage Discription</key>
	<string>Uses your library to upload photos</string>
	<key>Privacy - Camera Usage Description</key>
	<string>Uses the camera to take picture </string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>164307863927-5lafjuamoha0vj4bmc411s7n7cf66n3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164307863927-5lafjuamoha0vj4bmc411s7n7cf66n3i</string>
	<key>API_KEY</key>
	<string>AIzaSyBaSowk-RSkvO9FSfCUKOrR5PaVenL33nU</string>
	<key>GCM_SENDER_ID</key>
	<string>164307863927</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeschool.FacePass</string>
	<key>PROJECT_ID</key>
	<string>facepass-f76b0</string>
	<key>STORAGE_BUCKET</key>
	<string>facepass-f76b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:164307863927:ios:07b520b03d0ee495</string>
	<key>DATABASE_URL</key>
	<string>https://facepass-f76b0.firebaseio.com</string>
</dict>
</plist>
